h1{
    text-align:center;
}

/*buttonはインライン要素　ブロック要素に変更してmarginで中央寄せにする*/
.btn-primary {
    color: #fff;
    background-color: #e899b6;
    border-color: #ebbbe5;
    width:100px;
    height: 70px;
    display: block; /* ブロック要素にする */
    margin: 50px auto; /* 左右のマージンを自動で中央に寄せる */
}