body{
   text-align: center;
   padding: 30px;
   margin-top:20px;
   letter-spacing: 3px;
   line-height: 60px;
}

h1{
  font-size: 60px;
}

h{
   font-size: 60px;
   background-color: red;
}

p1{
   font-size: 20px;
}
h3{
   font-size: 40px;
   background-color: red;
}

h2{
   font-size: 30px; 
   color: red;
}

p{
   font-size: 20px;
   letter-spacing: 3px;
}

h4{
   font-size: 40px;
   background-color: red;
}

p2{
   font-size: 15px;
   letter-spacing: 2px;
}
.confirmation {
   text-align: center;
   padding: 70px;
   background-color: #fff;
   border-radius: 75px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 550px;
   float: right;
   height: 250px;
}
.confirmation1 {
   text-align: center;
   padding: 70px;
   background-color: #fff;
   border-radius: 75px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 550px;
   float: left;
   height: 300px;
}

.confirmation2 {
   text-align: center;
   padding: 70px;
   background-color: #fff;
   border-radius: 75px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 550px;
   float: right;
   height: 400px;
}

.confirmation3 {
   text-align: center;
   padding: 70px;
   background-color: #fff;
   border-radius: 75px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   width: 550px;
   float: left;
   height: 300px;
}


