.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  
  .rating span {
    font-size: 25px;
    cursor: pointer;
  }
  
  .rating span:hover,
  .rating span:hover ~ span {
    color: orange;
  }
  
  .rating .checked {
    color: orange;
  }

.hart {
    border-radius: 50%; /* 半径50%で円形にする */
    font-size: 25px;
    padding: 7px 15px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #000000;
    transition: color 0.3s, background-color 0.3s,transform 0.3s;
  }
  .hart-hover {
    color: white;
    background-color: red;
    transform: scale(1.2);
  }

  .hart{
    width:20%;
    height:20%;
    position:absolute;
    bottom:0;
    right:0;
  }